application:
  name: "${application_name}"
  argocdNamespace: "${argocd_namespace}"
  repository: "${github_repository}"
  branch: "${github_branch}"
  path: "${application_path}"
  namespace: "${application_namespace}"
  deploymentName: "${application_deployment_name}"
